{% extends 'global/base.html' %}

{% block title %}
    Home |
{% endblock %}

{% block content %}

  <!-- hero slider -->
  {% include 'global/partials/_hero_slider.html' %} 
  <!-- hero slider end -->

  <!-- booking area -->
  {% include 'global/partials/_booking_area.html' %} 
  <!-- booking area end -->

  <!-- feature area -->
  {% include 'global/partials/_feature_area.html' %} 
  <!-- feature area end -->

  <!-- about area -->
  {% include 'global/partials/_about_area.html' %} 
  <!-- about area end -->

{% endblock %}