{% load static %}

<div class="about-area py-120">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
            <div class="about-img">
              <img src="{% static 'images/about/02.png' %}" alt="" />
            </div>
            <div class="about-experience">
              <div class="about-experience-icon">
                <img
                  src="{% static 'images/icon/taxi-booking.svg' %}"
                  alt=""
                />
              </div>
              <b
                >Aqui Temos <br />
                Serviço de Qualidade</b
              >
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-right wow fadeInRight" data-wow-delay=".25s">
            <div class="site-heading mb-3">
              <span class="site-title-tagline justify-content-start">
                <i class="flaticon-drive"></i> Sobre nós
              </span>
              <h2 class="site-title">
                Fornecemos Serviço Confiável<span>Em Todo O RN</span>
              </h2>
            </div>
            <p class="about-text">
              Temos o orgulho de oferecer serviços confiáveis em todo o estado. Nossa missão é tornar a locomoção mais conveniente e segura para nossos clientes. Com uma equipe dedicada de motoristas profissionais e uma abordagem orientada para o cliente, estamos comprometidos em proporcionar uma experiência de transporte excepcional. Junte-se a nós em nossa jornada e descubra por que somos a escolha confiável para suas necessidades de transporte.
            </p>
            <div class="about-list-wrapper">
              <ul class="about-list list-unstyled">
                <li>Transfers</li>
                <li>Viagens</li>
                <li>Passeios</li>
              </ul>
            </div>
            <a href="about.html" class="theme-btn mt-4"
              >Saiba Mais<i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
</div>