{% load static %}

<div class="booking-area" id="booking-area">
  <div class="container">
    <div class="booking-form">
      {% if messages %}
        {% include 'global/partials/_messages.html' %}
      {% else %}
        <div class="text-center">
          <h4 class="booking-title">Agende sua viagem agora!</h4>
          <p>Deixe seus dados e entraremos em contato com você!</p>
        </div>

        <div class="row">        
          <div class="col-lg-2 mx-auto text-center">
            <a href="{% url 'viagens:agendar_viagem' %}" class="theme-btn mt-4"
                >Agendar<i class="fas fa-arrow-right"></i
              ></a>
          </div>
        </div>
      {% endif %}
      
    </div>
  </div>
</div>