{% load static %}

<div class="feature-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Características</span>
            <h2 class="site-title">Nossas Incríveis Características</h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="feature-item wow fadeInUp" data-wow-delay=".25s">
            <div class="feature-icon">
              <img
                src="{% static 'images/icon/taxi-safety.svg' %}"
                alt=""
              />
            </div>
            <div class="feature-content">
              <h4>Garantia de Segurança</h4>
              <p>
                Viaje com tranquilidade, pois a sua segurança é a nossa prioridade.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="feature-item mt-lg-5 wow fadeInDown"
            data-wow-delay=".25s"
          >
            <div class="feature-icon">
              <img src="{% static 'images/icon/pickup.svg' %}" alt="" />
            </div>
            <div class="feature-content">
              <h4>Partida Acelerada</h4>
              <p>
                Chegamos rápido para tornar a sua viagem mais eficiente.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-item wow fadeInUp" data-wow-delay=".25s">
            <div class="feature-icon">
              <img src="{% static 'images/icon/money.svg' %}" alt="" />
            </div>
            <div class="feature-content">
              <h4>Preços Justos</h4>
              <p>
                Oferecemos tarifas amigáveis ao seu bolso, proporcionando qualidade sem pesar no orçamento.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="feature-item mt-lg-5 wow fadeInDown"
            data-wow-delay=".25s"
          >
            <div class="feature-icon">
              <img src="{% static 'images/icon/support.svg' %}" alt="" />
            </div>
            <div class="feature-content">
              <h4>Suporte 24/7</h4>
              <p>
                Estamos sempre aqui para ajudar, a qualquer hora, para garantir a sua satisfação contínua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>