{% load static %}

<footer class="footer-area">
    <div class="footer-widget">
      <div class="container">
        <div class="row footer-widget-wrapper pt-120 pb-70">
          <div class="col-md-6 col-lg-4">
            <div class="footer-widget-box about-us">
              <a href="#" class="footer-logo">
                <img src="{% static 'images/logo/logo-light.png' %}" alt="" />
              </a>
              <p class="mb-3">
                Conte conosco para atender às suas necessidades de locomoção e tornar cada viagem uma experiência excepcional.
              </p>
              <ul class="footer-contact">
                <li>
                  <a href="https://api.whatsapp.com/send?phone=+5584992018601&text=Gostaria de fazer uma cotação com a Edilson Transfer!" target="_blank"
                    ><i class="fa-brands fa-whatsapp"></i> +55 84 99201 8601</a
                  >
                </li>
                <li>
                  <i class="far fa-map-marker-alt"></i>Aeroporto Internacional de Natal
                </li>
                <li>
                  <a href="mailto:edilsontransfernatal@gmail.com"
                    ><i class="far fa-envelope"></i>edilsontransfernatal@gmail.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="footer-widget-box list">
              <h4 class="footer-widget-title">Links Rápidos</h4>
              <ul class="footer-list">
                <li>
                  <a href="#"><i class="fas fa-caret-right"></i> Sobre nós</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Notícias Atualizadas</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Depoimentos</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Termos de Serviço</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Política de Privacidade</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Nossos Motoristas</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="footer-widget-box list">
              <h4 class="footer-widget-title">Suporte</h4>
              <ul class="footer-list">
                <li>
                  <a href="#"><i class="fas fa-caret-right"></i> FAQ's</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Afiliados</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Dicas para Reservas</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Agendar uma viagem</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-caret-right"></i> Contate-nos</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fas fa-caret-right"></i> Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="footer-widget-box list">
              <h4 class="footer-widget-title">Newsletter</h4>
              <div class="footer-newsletter">
                <p>Acompanhe nossa newsletter para receber as últimas atualizações e notícias</p>
                <div class="subscribe-form">
                  <form action="#">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Seu Email"
                    />
                    <button class="theme-btn" type="submit">
                      Inscreva-se agora <i class="far fa-paper-plane"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <p class="copyright-text">
              &copy; Copyright <span id="date"></span>
              <a href="#"> Parabellum Sistems</a> Todos os direitos reservados.
            </p>
          </div>
          <div class="col-md-6 align-self-center">
            <ul class="footer-social">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>