{% load static %}

<!-- meta tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<!-- favicon -->
<link
  rel="icon"
  type="image/x-icon"
  href="{% static 'images/logo/favicon.png' %}"
/>

<!-- css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/all-fontawesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery.timepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/nice-select.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
