      <!-- service area -->
      {% comment %} <div class="service-area bg py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Services</span>
                <h2 class="site-title">Our Best Services For You</h2>
                <div class="heading-divider"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="service-item wow fadeInUp" data-wow-delay=".25s">
                <div class="service-icon">
                  <img
                    src="{% static 'images/icon/taxi-booking-1.svg' %}"
                    alt=""
                  />
                </div>
                <div class="service-content">
                  <h3 class="service-title">
                    <a href="#">Online Booking</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages orem psum available
                    but the majority have suffered alteration in some form by
                    injected.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="theme-btn"
                      >Read More<i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item wow fadeInUp" data-wow-delay=".50s">
                <div class="service-icon">
                  <img src="{% static 'images/icon/city-taxi.svg' %}" alt="" />
                </div>
                <div class="service-content">
                  <h3 class="service-title">
                    <a href="#">City Transport</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages orem psum available
                    but the majority have suffered alteration in some form by
                    injected.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="theme-btn"
                      >Read More<i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item wow fadeInUp" data-wow-delay=".75s">
                <div class="service-icon">
                  <img src="{% static 'images/icon/airport.svg' %}" alt="" />
                </div>
                <div class="service-content">
                  <h3 class="service-title">
                    <a href="#">Airport Transport</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages orem psum available
                    but the majority have suffered alteration in some form by
                    injected.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="theme-btn"
                      >Read More<i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item wow fadeInUp" data-wow-delay=".25s">
                <div class="service-icon">
                  <img src="{% static 'images/icon/business.svg' %}" alt="" />
                </div>
                <div class="service-content">
                  <h3 class="service-title">
                    <a href="#">Business Transport</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages orem psum available
                    but the majority have suffered alteration in some form by
                    injected.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="theme-btn"
                      >Read More<i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item wow fadeInUp" data-wow-delay=".50s">
                <div class="service-icon">
                  <img src="{% static 'images/icon/taxi-2.svg' %}" alt="" />
                </div>
                <div class="service-content">
                  <h3 class="service-title">
                    <a href="#">Regular Transport</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages orem psum available
                    but the majority have suffered alteration in some form by
                    injected.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="theme-btn"
                      >Read More<i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item wow fadeInUp" data-wow-delay=".75s">
                <div class="service-icon">
                  <img src="{% static 'images/icon/taxi.svg' %}" alt="" />
                </div>
                <div class="service-content">
                  <h3 class="service-title">
                    <a href="#">Tour Transport</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages orem psum available
                    but the majority have suffered alteration in some form by
                    injected.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="theme-btn"
                      >Read More<i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- service area end-->

      <!-- taxi area -->
      {% comment %} <div class="taxi-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Our Taxi</span>
                <h2 class="site-title">Let's Check Available Taxi</h2>
                <div class="heading-divider"></div>
              </div>
            </div>
          </div>
          <div class="filter-controls">
            <ul class="filter-btns">
              <li class="active" data-filter="*">All Taxi</li>
              <li data-filter=".cat1">Hybrid Taxi</li>
              <li data-filter=".cat2">Town Taxi</li>
              <li data-filter=".cat3">Suv Taxi</li>
              <li data-filter=".cat4">Limousine Taxi</li>
            </ul>
          </div>
          <div class="row filter-box">
            <div class="col-md-6 col-lg-4 filter-item cat1 cat2">
              <div class="taxi-item">
                <div class="taxi-img">
                  <img src="{% static 'images/taxi/01.png' %}" alt="" />
                </div>
                <div class="taxi-content">
                  <div class="taxi-head">
                    <h4>BMW M5 2019 Model</h4>
                    <span>$1.25/km</span>
                  </div>
                  <div class="taxi-feature">
                    <ul>
                      <li>
                        <i class="far fa-car-side-bolt"></i> Taxi Doors:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-person-seat"></i> Passengers:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-suitcase-rolling"></i> Luggage Carry:
                        <span>2</span>
                      </li>
                      <li>
                        <i class="far fa-heat"></i> Air Condition:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-map-location-dot"></i> GPS Navigation:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-user-pilot"></i> Driver Choosing:
                        <span>Yes</span>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="theme-btn"
                    >Book Taxi Now<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 filter-item cat3 cat4">
              <div class="taxi-item">
                <div class="taxi-img">
                  <img src="{% static 'images/taxi/01.png' %}" alt="" />
                </div>
                <div class="taxi-content">
                  <div class="taxi-head">
                    <h4>BMW M5 2019 Model</h4>
                    <span>$1.25/km</span>
                  </div>
                  <div class="taxi-feature">
                    <ul>
                      <li>
                        <i class="far fa-car-side-bolt"></i> Taxi Doors:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-person-seat"></i> Passengers:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-suitcase-rolling"></i> Luggage Carry:
                        <span>2</span>
                      </li>
                      <li>
                        <i class="far fa-heat"></i> Air Condition:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-map-location-dot"></i> GPS Navigation:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-user-pilot"></i> Driver Choosing:
                        <span>Yes</span>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="theme-btn"
                    >Book Taxi Now<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 filter-item cat1 cat4">
              <div class="taxi-item">
                <div class="taxi-img">
                  <img src="{% static 'images/taxi/01.png' %}" alt="" />
                </div>
                <div class="taxi-content">
                  <div class="taxi-head">
                    <h4>BMW M5 2019 Model</h4>
                    <span>$1.25/km</span>
                  </div>
                  <div class="taxi-feature">
                    <ul>
                      <li>
                        <i class="far fa-car-side-bolt"></i> Taxi Doors:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-person-seat"></i> Passengers:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-suitcase-rolling"></i> Luggage Carry:
                        <span>2</span>
                      </li>
                      <li>
                        <i class="far fa-heat"></i> Air Condition:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-map-location-dot"></i> GPS Navigation:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-user-pilot"></i> Driver Choosing:
                        <span>Yes</span>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="theme-btn"
                    >Book Taxi Now<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 filter-item cat1 cat3">
              <div class="taxi-item">
                <div class="taxi-img">
                  <img src="{% static 'images/taxi/01.png' %}" alt="" />
                </div>
                <div class="taxi-content">
                  <div class="taxi-head">
                    <h4>BMW M5 2019 Model</h4>
                    <span>$1.25/km</span>
                  </div>
                  <div class="taxi-feature">
                    <ul>
                      <li>
                        <i class="far fa-car-side-bolt"></i> Taxi Doors:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-person-seat"></i> Passengers:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-suitcase-rolling"></i> Luggage Carry:
                        <span>2</span>
                      </li>
                      <li>
                        <i class="far fa-heat"></i> Air Condition:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-map-location-dot"></i> GPS Navigation:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-user-pilot"></i> Driver Choosing:
                        <span>Yes</span>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="theme-btn"
                    >Book Taxi Now<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 filter-item cat1 cat2 cat3">
              <div class="taxi-item">
                <div class="taxi-img">
                  <img src="{% static 'images/taxi/01.png' %}" alt="" />
                </div>
                <div class="taxi-content">
                  <div class="taxi-head">
                    <h4>BMW M5 2019 Model</h4>
                    <span>$1.25/km</span>
                  </div>
                  <div class="taxi-feature">
                    <ul>
                      <li>
                        <i class="far fa-car-side-bolt"></i> Taxi Doors:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-person-seat"></i> Passengers:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-suitcase-rolling"></i> Luggage Carry:
                        <span>2</span>
                      </li>
                      <li>
                        <i class="far fa-heat"></i> Air Condition:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-map-location-dot"></i> GPS Navigation:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-user-pilot"></i> Driver Choosing:
                        <span>Yes</span>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="theme-btn"
                    >Book Taxi Now<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 filter-item cat4">
              <div class="taxi-item">
                <div class="taxi-img">
                  <img src="{% static 'images/taxi/01.png' %}" alt="" />
                </div>
                <div class="taxi-content">
                  <div class="taxi-head">
                    <h4>BMW M5 2019 Model</h4>
                    <span>$1.25/km</span>
                  </div>
                  <div class="taxi-feature">
                    <ul>
                      <li>
                        <i class="far fa-car-side-bolt"></i> Taxi Doors:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-person-seat"></i> Passengers:
                        <span>4</span>
                      </li>
                      <li>
                        <i class="far fa-suitcase-rolling"></i> Luggage Carry:
                        <span>2</span>
                      </li>
                      <li>
                        <i class="far fa-heat"></i> Air Condition:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-map-location-dot"></i> GPS Navigation:
                        <span>Yes</span>
                      </li>
                      <li>
                        <i class="far fa-user-pilot"></i> Driver Choosing:
                        <span>Yes</span>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="theme-btn"
                    >Book Taxi Now<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- taxi area end -->

      <!-- counter area -->
      {% comment %} <div class="counter-area">
        <div class="container">
          <div class="counter-wrapper mb-0">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                  <div class="icon">
                    <img src="{% static 'images/icon/taxi-1.svg' %}" alt="" />
                  </div>
                  <div>
                    <span
                      class="counter"
                      data-count="+"
                      data-to="500"
                      data-speed="3000"
                      >500</span
                    >
                    <h6 class="title">+ Available Taxi</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                  <div class="icon">
                    <img src="{% static 'images/icon/happy.svg' %}" alt="" />
                  </div>
                  <div>
                    <span
                      class="counter"
                      data-count="+"
                      data-to="900"
                      data-speed="3000"
                      >900</span
                    >
                    <h6 class="title">+ Happy Clients</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                  <div class="icon">
                    <img src="{% static 'images/icon/driver.svg' %}" alt="" />
                  </div>
                  <div>
                    <span
                      class="counter"
                      data-count="+"
                      data-to="700"
                      data-speed="3000"
                      >700</span
                    >
                    <h6 class="title">+ Our Drivers</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                  <div class="icon">
                    <img src="{% static 'images/icon/trip.svg' %}" alt="" />
                  </div>
                  <div>
                    <span
                      class="counter"
                      data-count="+"
                      data-to="1800"
                      data-speed="3000"
                      >1800</span
                    >
                    <h6 class="title">+ Road Trip Done</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- counter area end -->

      <!-- team-area -->
      {% comment %} <div class="team-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Drivers</span>
                <h2 class="site-title">Our Expert Drivers</h2>
                <div class="heading-divider"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                <div class="team-img">
                  <img src="{% static 'images/team/01.jpg' %}" alt="thumb" />
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Alma Mcelroy</a></h5>
                    <span>Expert Driver</span>
                  </div>
                </div>
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-item wow fadeInDown" data-wow-delay=".25s">
                <div class="team-img">
                  <img src="{% static 'images/team/02.jpg' %}" alt="thumb" />
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Marie Hooks</a></h5>
                    <span>Expert Driver</span>
                  </div>
                </div>
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                <div class="team-img">
                  <img src="{% static 'images/team/03.jpg' %}" alt="thumb" />
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Daniel Nesmith</a></h5>
                    <span>Expert Driver</span>
                  </div>
                </div>
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-item wow fadeInDown" data-wow-delay=".25s">
                <div class="team-img">
                  <img src="{% static 'images/team/04.jpg' %}" alt="thumb" />
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Gertrude Barrow</a></h5>
                    <span>Expert Driver</span>
                  </div>
                </div>
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- team-area end -->

      <!-- choose area -->
      {% comment %} <div class="choose-area py-120">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="choose-content">
                <div
                  class="site-heading wow fadeInDown mb-4"
                  data-wow-delay=".25s"
                >
                  <span
                    class="site-title-tagline text-white justify-content-start"
                  >
                    <i class="flaticon-drive"></i> Why Choose Us
                  </span>
                  <h2 class="site-title text-white mb-10">
                    We are dedicated <span>to provide</span> quality service
                  </h2>
                  <p class="text-white">
                    There are many variations of passages available but the
                    majority have suffered alteration in some form going to use
                    a passage by injected humour randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
                <div class="choose-img wow fadeInUp" data-wow-delay=".25s">
                  <img src="{% static 'images/choose/01.png' %}" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="choose-content-wrapper wow fadeInRight"
                data-wow-delay=".25s"
              >
                <div class="choose-item">
                  <span class="choose-count">01</span>
                  <div class="choose-item-icon">
                    <img src="{% static 'images/icon/taxi-1.svg' %}" alt="" />
                  </div>
                  <div class="choose-item-info">
                    <h3>Best Quality Taxi</h3>
                    <p>
                      There are many variations of passages available but the
                      majority have suffered alteration in form injected humour
                      words which don't look even slightly believable. If you
                      are going passage you need there anything embar.
                    </p>
                  </div>
                </div>
                <div class="choose-item ms-lg-5">
                  <span class="choose-count">02</span>
                  <div class="choose-item-icon">
                    <img src="{% static 'images/icon/driver.svg' %}" alt="" />
                  </div>
                  <div class="choose-item-info">
                    <h3>Expert Drivers</h3>
                    <p>
                      There are many variations of passages available but the
                      majority have suffered alteration in form injected humour
                      words which even slightly believable. If you are going
                      passage you need there anything.
                    </p>
                  </div>
                </div>
                <div class="choose-item mb-lg-0">
                  <span class="choose-count">03</span>
                  <div class="choose-item-icon">
                    <img
                      src="{% static 'images/icon/taxi-location.svg' %}"
                      alt=""
                    />
                  </div>
                  <div class="choose-item-info">
                    <h3>Many Locations</h3>
                    <p>
                      There are many variations of passages available but the
                      majority have suffered alteration in form injected humour
                      words which don't look even slightly believable. If you
                      are going passage you need there anything embar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- choose area end -->

      <!-- faq area -->
      {% comment %} <div class="faq-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="faq-right">
                <div class="site-heading mb-3">
                  <span class="site-title-tagline justify-content-start"
                    >Faq's</span
                  >
                  <h2 class="site-title my-3">
                    General <span>frequently</span> asked questions
                  </h2>
                </div>
                <p class="about-text">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even.
                </p>
                <div class="faq-img mt-3">
                  <img src="{% static 'images/faq/01.jpg' %}" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <span><i class="far fa-question"></i></span> How Long Does
                      A Booking Take ?
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      We denounce with righteous indignation and dislike men who
                      are so beguiled and demoralized by the charms of pleasure
                      of the moment, so blinded by desire. Ante odio dignissim
                      quam, vitae pulvinar turpis erat ac elit eu orci id odio
                      facilisis pharetra.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <span><i class="far fa-question"></i></span> How Can I
                      Become A Member ?
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      We denounce with righteous indignation and dislike men who
                      are so beguiled and demoralized by the charms of pleasure
                      of the moment, so blinded by desire. Ante odio dignissim
                      quam, vitae pulvinar turpis erat ac elit eu orci id odio
                      facilisis pharetra.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <span><i class="far fa-question"></i></span> What Payment
                      Gateway You Support ?
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      We denounce with righteous indignation and dislike men who
                      are so beguiled and demoralized by the charms of pleasure
                      of the moment, so blinded by desire. Ante odio dignissim
                      quam, vitae pulvinar turpis erat ac elit eu orci id odio
                      facilisis pharetra.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >
                      <span><i class="far fa-question"></i></span> How Can I
                      Cancel My Request ?
                    </button>
                  </h2>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      We denounce with righteous indignation and dislike men who
                      are so beguiled and demoralized by the charms of pleasure
                      of the moment, so blinded by desire. Ante odio dignissim
                      quam, vitae pulvinar turpis erat ac elit eu orci id odio
                      facilisis pharetra.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- faq area end -->

      <!-- testimonial area -->
      {% comment %} <div class="testimonial-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline"
                  ><i class="flaticon-drive"></i> Depoimentos</span
                >
                <h2 class="site-title text-white">
                  O Que Nossos Clientes <span>Dizem</span>
                </h2>
                <div class="heading-divider"></div>
              </div>
            </div>
          </div>
          <div class="testimonial-slider owl-carousel owl-theme">
            <div class="testimonial-single">
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="{% static 'images/testimonial/01.png' %}" alt="" />
                </div>
                <div class="testimonial-author-info">
                  <h4>Maria Rita</h4>
                  <p>Cliente</p>
                </div>
              </div>
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"
                  ><i class="far fa-quote-right"></i
                ></span>
                <p>
                  Estou extremamente satisfeito com o serviço oferecido por esta plataforma. Os motoristas são profissionais e cordiais, o processo de reserva é simples e eficiente, e as viagens são sempre seguras e pontuais. Recomendo a todos!
                </p>
              </div>
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="{% static 'images/testimonial/02.png' %}" alt="" />
                </div>
                <div class="testimonial-author-info">
                  <h4>Tom Jobim</h4>
                  <p>Cliente</p>
                </div>
              </div>
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"
                  ><i class="far fa-quote-right"></i
                ></span>
                <p>
                  Estou extremamente satisfeito com o serviço oferecido por esta plataforma. Os motoristas são profissionais e cordiais, o processo de reserva é simples e eficiente, e as viagens são sempre seguras e pontuais. Recomendo a todos!
                </p>
              </div>
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="{% static 'images/testimonial/03.png' %}" alt="" />
                </div>
                <div class="testimonial-author-info">
                  <h4>Reginaldo Rossi</h4>
                  <p>Cliente</p>
                </div>
              </div>
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"
                  ><i class="far fa-quote-right"></i
                ></span>
                <p>
                  Estou extremamente satisfeito com o serviço oferecido por esta plataforma. Os motoristas são profissionais e cordiais, o processo de reserva é simples e eficiente, e as viagens são sempre seguras e pontuais. Recomendo a todos!
                </p>
              </div>
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="{% static 'images/testimonial/04.png' %}" alt="" />
                </div>
                <div class="testimonial-author-info">
                  <h4>Elis Regina</h4>
                  <p>Cliente</p>
                </div>
              </div>
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"
                  ><i class="far fa-quote-right"></i
                ></span>
                <p>
                  Estou extremamente satisfeito com o serviço oferecido por esta plataforma. Os motoristas são profissionais e cordiais, o processo de reserva é simples e eficiente, e as viagens são sempre seguras e pontuais. Recomendo a todos!
                </p>
              </div>
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="{% static 'images/testimonial/05.png' %}" alt="" />
                </div>
                <div class="testimonial-author-info">
                  <h4>Seu Jorge</h4>
                  <p>Cliente</p>
                </div>
              </div>
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"
                  ><i class="far fa-quote-right"></i
                ></span>
                <p>
                  Estou extremamente satisfeito com o serviço oferecido por esta plataforma. Os motoristas são profissionais e cordiais, o processo de reserva é simples e eficiente, e as viagens são sempre seguras e pontuais. Recomendo a todos!
                </p>
              </div>
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- testimonial area end -->

      <!-- blog area -->
      {% comment %} <div class="blog-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline"
                  ><i class="flaticon-drive"></i> Our Blog</span
                >
                <h2 class="site-title">Latest News & Blog</h2>
                <div class="heading-divider"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                <div class="blog-item-img">
                  <img src="{% static 'images/blog/01.jpg' %}" alt="Thumb" />
                </div>
                <div class="blog-item-info">
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="far fa-user-circle"></i> By Alicia Davis</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="far fa-calendar-alt"></i> February 23,
                          2023</a
                        >
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog-title">
                    <a href="#"
                      >There are many variations of passage available.</a
                    >
                  </h4>
                  <a class="theme-btn" href="#"
                    >Read More<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="blog-item wow fadeInUp" data-wow-delay=".50s">
                <div class="blog-item-img">
                  <img src="{% static 'images/blog/02.jpg' %}" alt="Thumb" />
                </div>
                <div class="blog-item-info">
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="far fa-user-circle"></i> By Alicia Davis</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="far fa-calendar-alt"></i> February 23,
                          2023</a
                        >
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog-title">
                    <a href="#"
                      >There are many variations of passage available.</a
                    >
                  </h4>
                  <a class="theme-btn" href="#"
                    >Read More<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="blog-item wow fadeInUp" data-wow-delay=".75s">
                <div class="blog-item-img">
                  <img src="{% static 'images/blog/03.jpg' %}" alt="Thumb" />
                </div>
                <div class="blog-item-info">
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="far fa-user-circle"></i> By Alicia Davis</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="far fa-calendar-alt"></i> February 23,
                          2023</a
                        >
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog-title">
                    <a href="#"
                      >There are many variations of passage available.</a
                    >
                  </h4>
                  <a class="theme-btn" href="#"
                    >Read More<i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- blog area end -->

      <!-- download area -->
      {% comment %} <div class="download-area">
        <div class="container">
          <div class="download-wrapper">
            <div class="row">
              <div class="col-lg-6">
                <div class="download-content">
                  <div class="site-heading mb-4">
                    <span class="site-title-tagline justify-content-start">
                      <i class="flaticon-drive"></i> Get Our App
                    </span>
                    <h2 class="site-title mb-10">
                      Download <span>Our Taxio</span> App For Free
                    </h2>
                    <p>
                      There are many variations of passages available but the
                      majority have suffered in some form going to use a passage
                      by injected humour.
                    </p>
                  </div>
                  <div class="download-btn">
                    <a href="#">
                      <i class="fab fa-google-play"></i>
                      <div class="download-btn-content">
                        <span>Get It On</span>
                        <strong>Google Play</strong>
                      </div>
                    </a>
                    <a href="#">
                      <i class="fab fa-app-store"></i>
                      <div class="download-btn-content">
                        <span>Get It On</span>
                        <strong>App Store</strong>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="download-img">
              <img src="{% static 'images/download/01.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- download area end -->