{% load static %}

<div class="sidebar-popup">
    <div class="sidebar-wrapper">
      <div class="sidebar-content">
        <button type="button" class="close-sidebar-popup">
          <i class="far fa-xmark"></i>
        </button>
        <div class="sidebar-logo">
          <img src="{% static 'images/logo/logo.png' %}" alt="Edilson Transfer" />
        </div>
        <div class="sidebar-about">
          <h4>Sobre nós</h4>
          <p>
            Na Edilson Transfer, estamos comprometidos em oferecer a melhor
            experiência de transporte em Natal, Rio Grande do Norte. Nossa
            missão é proporcionar viagens seguras, convenientes e confiáveis,
            ligando passageiros a motoristas profissionais. Valorizamos a
            qualidade, a conveniência e a satisfação do cliente, e estamos
            empenhados em tornar a mobilidade na nossa cidade mais acessível e
            eficiente.
          </p>
        </div>
        <div class="sidebar-contact">
          <h4>Contato</h4>
          <ul>
            <li>
              <h6>Email</h6>
              <a href="mailto:edilsontransfernatal@gmail.com"
                ><i class="far fa-envelope"></i>edilsontransfernatal@gmail.com</a
              >
            </li>
            <li>
              <h6>Telefone</h6>
              <a href="https://api.whatsapp.com/send?phone=+5584992018601&text=Gostaria de fazer uma cotação com a Edilson Transfer!" target="_blank"
                    ><i class="fa-brands fa-whatsapp"></i> +55 84 99201 8601</a
                  >
            </li>
            <li>
              <h6>Endereço</h6>
              <a
                href="https://maps.app.goo.gl/26nr8uynngoqLonF7"
                target="_blank"
                ><i class="far fa-location-dot"></i>Av. Dr. Ruy Pereira dos
                Santos, 3100 - Aeroporto, São Gonçalo do Amarante - RN</a
              >
            </li>
          </ul>
        </div>
        <div class="sidebar-social">
          <h4>Siga-nos</h4>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
</div>